@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #0960bd
    )
  )
);

@import '../var//breakpoint.scss';
.dark {
  --el-color-black: #232429;
  --el-text-color-primary: #f3f4f6;
  --el-text-color-regular: #f9f9f9;
  --el-text-color-secondary: #f9f9f999;
  --el-color-white: #181818;
  --el-bg-color: #2e2f34;
  --el-border-color-light: #2d2d2d;
  --el-border-color-lighter: #2d2d2d;
  --el-color-white: #232429;
  --el-border-base: #0f0d0d;
  --el-color-primary-light-9: #2e2f34;
  .el-button--primary {
    color: #eee !important;
  }
  .el-button:hover {
    color: #eee !important;
  }
  .el-button:focus {
    color: #eee !important;
  }
  .el-checkbox__inner {
    background-color: var(--el-text-color-primary);
  }
  .el-picker-panel {
    background-color: var(--el-color-white);
  }
  .el-picker-panel__footer {
    background-color: var(--el-color-white);
  }
  .el-input:hover {
    .el-input__inner {
      background-color: #37383c;
    }
  }
  .el-dropdown__popper {
    .el-dropdown-menu {
      background: var(--el-color-white);
      color: #fff;
    }
  }
}
.el-card {
  transition: none;
}
